.container_footer {
    position: relative;
    font-family: sans-serif;
  }
  
  .container_footer::before, .container_footer::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
  }
  
  .container_footer::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }
  
  .container_footer::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  
  .container_footer .box_footer {
    width: 11.875em;
    height: 15.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
  }
  
  .container_footer .box_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container_footer .box_footer .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em
  }
  
  .container_footer .box_footer div strong {
    display: block;
    margin-bottom: .5rem;
  }
  
  .container_footer .box_footer div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
  }
  
  .container_footer .box_footer div span {
    font-size: .7rem;
    font-weight: 300;
  }
  
  .container_footer .box_footer div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
  }
  
  .container_footer .box_footer:hover {
    box_footer-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }